@import url("./__container/popup__container.css");
@import url("./__form/popup__form.css");
@import url("./__heading/popup__heading.css");
@import url("./__fields/popup__fields.css");
@import url("./__text/popup__text.css");
@import url("./__name-input/popup__name-input.css");
@import url("./__job-input/popup__job-input.css");
@import url("./__save-button/popup__save-button.css");
@import url("./__close-button/popup__close-button.css");
@import url("./_opened/popup_opened.css");

.popup {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .5);;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}