.profile__edit-button {
    background-image: url(../../../images/edit-button.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px;
    width: 24px;
    min-height: 24px;

}
@media screen and (max-width: 697px) {
    .profile__edit-button {
        width: 18px;
        min-height: 18px;
    }

}