.profile__author {
    color: #fff;
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 42px;
    line-height: 56px;
    align-self: flex-start;
}
@media screen and (max-width: 697px) {
    .profile__author {
        font-size: 27px;
        text-align: center;
    }
}
