.profile__avatar {
    max-width: 120px;
    justify-self: center;
    box-sizing: border-box;
    border-radius: 50%;
}

@media screen and (max-width: 697px) {
    .profile__avatar {
        margin-bottom: 14px;
    }
}