.section__subtitle_size_m {
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 697px) {
    .section__subtitle_size_m {
        font-size: 14px;
        line-height: 17px;
        text-align: right;
    }
}