/* -- normalize.css -- */
@import url(../vendor/normalize.css);

/* -- fonts -- */
@import url(../vendor/fonts.css);

/* -- Mixes -- */
@import url(../blocks/buttons/buttons.css);
@import url(../blocks/card/card.css);
    @import url(../blocks/card/__body/card__body.css);   

/* -- page -- */
@import url(../blocks/page/page.css);

/* -- header -- */
@import url(../blocks/header/__section/header__section.css);
@import url(../blocks/header/_transparent-border/header_transparent-border.css);

/* -- main -- */
@import url(../blocks/main/__section/main__section.css); 

/* -- profile -- */
@import url(../blocks/profile/__section/profile__section.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__avatar/_border-radius/profile__avatar_border-radius.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__author/profile__author.css);
@import url(../blocks/profile/__author-status/profile__author-status.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);


/* -- elements -- */
@import url(../blocks/elements/__list/elements__list.css);
@import url(../blocks/elements/__item/elements__item.css);

/* -- element -- */
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__figcaption/_text-decoration/element__figcaption_text-decoration.css);

/* -- footer -- */
@import url(../blocks/footer/__section/footer__section.css);
@import url(../blocks/footer/__section/__info/footer__info.css);

/* --в случае аварии расскомментировать-- */
* {
    outline-width: 1px;
    outline-style: solid;
    outline-color: red;
}