.profile__author-status {
    color: #fff;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 697px) {
    .profile__author-status {
        font-size: 14px;
        text-align: center;
    }
}